<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VLMSClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.vlms.sjsu.servlets.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/View/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpAction</display-name>
    <servlet-name>SignUpAction</servlet-name>
    <servlet-class>com.vlms.sjsu.servlets.SignUpAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpAction</servlet-name>
    <url-pattern>/View/SignUpAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAction</display-name>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>com.vlms.sjsu.servlets.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/View/LogoutAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeAction</display-name>
    <servlet-name>HomeAction</servlet-name>
    <servlet-class>com.vlms.sjsu.servlets.HomeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeAction</servlet-name>
    <url-pattern>/View/HomeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileAction</display-name>
    <servlet-name>UpdateProfileAction</servlet-name>
    <servlet-class>com.vlms.sjsu.servlets.UpdateProfileAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileAction</servlet-name>
    <url-pattern>/View/UpdateProfileAction</url-pattern>
  </servlet-mapping>
</web-app>